<%= form_with(model: task, local: true, class: "task-form") do |form| %>
  <% if task.errors.any? %>
    <div class="error-message" style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control", placeholder: "Enter task title" %>
  </div>

  <div class="form-group">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control", placeholder: "Enter task description" %>
  </div>

  <div class="form-group">
    <%= form.label :is_completed, class: "form-label" %>
    <%= form.check_box :is_completed %> Completed?
  </div>

  <div class="form-group">
    <%= form.label :status, "Task Status", class: "form-label" %>
    <%= form.select :status, Task.statuses.keys.map { |status| [status.titleize, status] }, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :category_id, class: "form-label" %>
    <%= form.collection_select :category_id, Category.all, :id, :name, prompt: "Select a category", class: "form-select" %>
  </div>

  <div>
    <%= form.submit "Save Task", class: "btn btn-primary" %>
  </div>
<% end %>
